<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>devanagariOrdinalOneToTen</key>
	<array>
		<string>प्रथम</string>
		<string>द्वितिय</string>
		<string>तृतिय</string>
		<string>चौथुर्त</string>
		<string>पाँचौ</string>
		<string>छैटौ</string>
		<string>सातौ</string>
		<string>आठौ</string>
		<string>नवौ</string>
		<string>दसौ</string>
	</array>
	<key>nepaliOrdinalOneToTen</key>
	<array>
		<string>pratham</string>
		<string>dvitiy</string>
		<string>tritiya</string>
		<string>chauthurt</string>
		<string>paachau</string>
		<string>chhaitau</string>
		<string>saatau</string>
		<string>aathau</string>
		<string>navau</string>
		<string>dasau</string>
	</array>
	<key>englishOrdinalOneToTen</key>
	<array>
		<string>first</string>
		<string>second</string>
		<string>third</string>
		<string>fourth</string>
		<string>fith</string>
		<string>sixth</string>
		<string>seventh</string>
		<string>eighth</string>
		<string>nineth</string>
		<string>tenth</string>
	</array>
	<key>nepaliNumbersOneToTen</key>
	<array>
		<string>soonya</string>
		<string>ek</string>
		<string>dui</string>
		<string>tin</string>
		<string>char</string>
		<string>panch</string>
		<string>chha</string>
		<string>sat</string>
		<string>ath</string>
		<string>nau</string>
		<string>das</string>
	</array>
	<key>devanagariNumbersOneToTen</key>
	<array>
		<string>०</string>
		<string>१</string>
		<string>२</string>
		<string>३</string>
		<string>४</string>
		<string>५</string>
		<string>६</string>
		<string>७</string>
		<string>८</string>
		<string>९</string>
		<string>१०</string>
	</array>
	<key>englishNumbersOneToTen</key>
	<array>
		<string>0</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
	</array>
</dict>
</plist>
